*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
   width:100%;
   height: 100%; 
   font-family: 'Roboto', sans-serif;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    color:white;
    padding: 20px 30px;
}

nav h1{
    font-size:40px;
}

nav ul{
    list-style: none;
    display:flex;
}

nav ul li{
    padding:0 20px;
}

header{
    color: #fff;
    background-color: #202020;
    padding: 150px 0 150px 50px;
    font-size: 35px;
}

.thin-heading{
    font-weight:100;
}


section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5% 0;
    width: 70%;
    margin: auto;
}

.card{
    width: 48%;
    height: 400px;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-dark{
    background-color: #8B8B8B;
}

.card-light{
    background-color: #F2F2F2;
}

.card-light p {
 color: #8B8B8B;
}

.card-dark p{
    color: #F2F2F2 ;
}

main{
    background-color: #202020;
    color: #fff;
    display: flex;
    padding: 5% 18%;
    width: 100%;
    margin: auto;
    align-items:center;
}

main div{
    padding: 20px;
}

main div h2{
    font-weight: 400;
    font-size: 35px;
}

main div hr{
    border: none;
    height: 3px;
    width: 20%;
    background-color: #fff;
}

main div p{
    font-weight: normal;
    margin: 2% 0;
}

.buttons{
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 2%;
    background-color: #8B8B8B;
    color: #F2F2F2;
    font-weight: 400;
    outline: none;
    transition: .25s;
}

.buttons:hover{
    background-color: #F2F2F2;
    color: #8B8B8B;
}


article{
    background-color: #F2F2F2;
    color: #8B8B8B;
    display: flex;
    justify-content: space-evenly;
    padding: 5% 18%;
    width: 100%;
    margin: auto;

}

article p{
    display: flex;
    align-items: center;
}

